<p>
  This introductory course will showcase reproducible research through 
  simple analysis examples. The goal is to teach novice programmers to 
  write modular code and best practices for using R for data analysis. 
  This 2-day hands-on short course will give participants a strong 
  foundation in the fundamentals of R, and to teach best practices for 
  scientific computing: breaking down analyses into modular units, 
  task automation, and encapsulation. \
 
  Note that this workshop will focus on teaching basic programming in R, 
  and will not teach statistical analysis. \
 
  This workshop is generously supported by 
  <a href="{{https://imci.uidaho.edu/}}">the Institute for Modeling Collaboration and Innovation</a>.
</p> 
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
