<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>09:55</td>  <td>Project Management with RStudio</td> </tr>
      <tr> <td>10:25</td>  <td>Seeking Help</td> </tr>
      <tr> <td>10:35</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:50</td>  <td>Data Structures</td> </tr>
      <tr> <td>11:45</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:15</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>14:05</td>  <td>Control Flow</td> </tr>
      <tr> <td>15:10</td>  <td>Afternoon Break</td> </tr>        
      <tr> <td>15:25</td>  <td>Creating Publication-Quality Graphics with ggplot2 (Part 1)</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Creating Publication-Quality Graphics with ggplot2 (Part 2)</td> </tr>
      <tr> <td>10:00</td>  <td>Vectorization</td> </tr>
      <tr> <td>10:25</td>  <td>Morning Break</td> </tr> 
      <tr> <td>10:40</td>  <td>Functions Explained</td> </tr>
      <tr> <td>11:40</td>  <td>Writing Data </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td>Dataframe Manipulation with dplyr</td> </tr>
      <tr> <td>13:55</td>  <td>Dataframe Manipulation with tidyr</td> </tr>
      <tr> <td>14:40</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>14:55</td>  <td>Producing Reports with knitr</td> </tr>
      <tr> <td>16:10</td>  <td>Writing Good Software</td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:40</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:55</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
